<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="large">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="#"><strong>Climate Change Across The Curriculum</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical large-horizontal">
        <li><a {{#ifpage 'index' }}class="is-active"{{/ifpage}} href="{{root}}index.html">Home</a></li>
        <li><a {{#ifpage 'about' }}class="is-active"{{/ifpage}} href="{{root}}about.html">About</a></li>
        <li><a {{#ifpage 'ideas' }}class="is-active"{{/ifpage}} href="{{root}}ideas.html">Ideas</a></li>
        <li><a {{#ifpage 'literature' }}class="is-active"{{/ifpage}}href="{{root}}literature.html">Literature</a></li>
        <li><a {{#ifpage 'data' }}class="is-active"{{/ifpage}}href="{{root}}data.html">Data</a></li>
        <li><a {{#ifpage 'audiovideo' }}class="is-active"{{/ifpage}} href="{{root}}audiovideo.html">Media</a></li>
        <!-- <li>
          <button type="button" class="button hollow topbar-responsive-button">Categories</button>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
